<div class="text-left mb-3 mt-3">
  <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fljsave.com%2Fuser%2F<%= username %>&width=117&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId=1564329417065426" width="117" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>