<div class="text-left mb-3 mt-3">
  <div class="social-likes social-likes_horizontal" data-url="https://ljsave.com/user/<%= username %>">
    <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Поделиться</div>
    <div class="vkontakte" title="Поделиться ссылкой Вконтакте">Поделиться</div>
  </div>
</div>