<nav class="navbar navbar-expand navbar-dark bg-dark mb-3" id="main_navbar">

  <a class="navbar-brand" href="/">
    <span class="padded_left monospaced">LJSave.com</span>
  </a>

  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
            <span class="navbar-text">
                <%= @navbar_text %>
            </span>
    </li>
  </ul>


</nav>