<form class="navbar-form navbar-right" role="search" action="/search">
  <div class="input-group">
    <input type="hidden" name="searchid" value="2353378"/><input type="hidden" name="l10n" value="ru"/><input type="hidden" name="reqenc" value="utf-8"/>
    <input type="search" class="form-control" placeholder="Поиск" name="text" value="<%= @q %>">
    <span class="input-group-btn">
			<button type="submit" class="btn btn-default" aria-label="Искать">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</span>
  </div>
</form>